@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  font-family: 'Montserrat', 'sans-serif';
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login-father {
  align-items: center;
  background-color: rgb(190, 190, 190);
  background-image: url('https://images.pexels.com/photos/3184192/pexels-photo-3184192.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

#login-container {
  background-color: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0px #000000;
  display: flex;
  height: 200px;
  margin: auto;
  opacity: 0.8;
  width: 200px;
  -webkit-box-shadow: 5px 5px 15px 0px #000000; 
}

#login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

#login-form #recipe-app {
  margin-bottom: 10px;
  width: 80%;
}

#login-form input {
  background-color: white;
  border: none;
  border-radius: 2.5px;
  color: black;
  font-weight: 700;
  height: 20px;
  margin: 5px;
  outline: 1px solid black;
  width: 90%;
}

#login-form button {
  background-color: white;
  border: none;
  border-radius: 2.5px;
  font-weight: 700;
  height: 20px;
  margin-top: 20px;
  outline: 1px solid black;
  width: 45%;
}

header {
  align-items: center;
  background-color: rgb(190, 190, 190);
  display: flex;
  flex-direction: column;
}

.headerIcon {
  align-items: center;
  background-color: rgb(190, 190, 190);
  display: flex;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
  width: 90%;
}

#searchInput {
  border: none;
  background-color: rgb(190, 190, 190);
}

#searchInput:hover {
  transform: scale(1.2);
}

#search-input-text {
  margin-top: 10px;
}

fieldset {
  border: none;
}

.formulary {
  text-align: center;
  margin: 5px;
}

.radio-inputs {
  margin: 5px;
}

#favorite-btn {
  background-color: #FAFBFC;
  width: 50px;
  height: 40px;
}

#search-button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  padding: 3px 8px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

#share-btn {
  background-color: #FAFBFC;
  width: 50px;
  height: 40px;
}

#start-btn {
  position: fixed;
  bottom: 0px;
}

.recipe-card {
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  overflow: hidden;
  width: 200px;
}

.recipe-card img {
  width: 100%;
}

.recipe-card-done {
  border: 1px solid rgb(219, 219, 219);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  height: 150px;  
  justify-content: space-between;
  margin-bottom: 20px;
  width: 320px;
}

.recipe-card-done .right-done {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.recipe-card-done .recipe-imgs-done {
  height: 100%;
}

.recipe-card:hover, .category-btn:hover {
  transform: scale(1.1);
}

.parent-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 80px;
}

footer {
  align-items: center;
  background-color: rgb(190, 190, 190);
  bottom: 0px;
  display: flex;
  height: 60px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.active-btn {
  border: 2.5px solid rgb(0, 0, 0) !important;
  transform: scale(1.1);
}

.categories-btns {
  align-content: center;
  display: flex;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.categories-btns-drinks {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  /* height: 80px; */
  justify-content: center;
  overflow: hidden;
  /* max-width: 100%; */
  text-overflow: ellipsis;
  white-space: normal;
}

.category-btn {
  border: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
  flex-grow: 1;
  height: 30px;
}

.category-btn-drink {
  border: none;
  border-right: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
  width: 30%;
}

.explore-btns {
  align-items: center;
  display: flex;
}

.explore-btn {
  font-family: 'Montserrat', -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: large;
  margin: 10px;
  height: 70px;
  text-align: center;
  width: 90%;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


.recipe-details h1, .recipe-details button , .recipe-details span{
  margin: 5px;
}

.recipe-details .instruction {
  margin-bottom: 5px;
}

.recipe-details #instructions-p {
  align-self: center;
  margin: auto;
  text-align: justify;
  width: 95%;
}

.recipe-details .footer-btns {
  background-color: rgb(190, 190, 190);
  border: none;
  font-size: x-large;
  margin: 0 !important;
  padding: 0 !important;
  height: 50px;
  width: 100%;
}

.footer-btns {
  background-color: rgb(190, 190, 190);
  border: none;
  bottom: 0px;
  font-size: x-large;
  margin: 0 !important;
  padding: 0 !important;
  position: fixed;
  height: 50px;
  width: 100%;
}

.img-details {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.recipe-details .h1-color {
  align-items: center;
  background-color: rgb(190, 190, 190);
  display: flex;
  margin: 0 !important;
  justify-content: center;
}

.video-class {
  align-self: center;
  margin-bottom: 10px;
  width: 90% !important;
}

.side-meals {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container {
  margin: auto;
  margin-bottom: 60px;
  max-width: 340px;
  width: 100%;
}

.container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container .carousel .item {
  border: 1px solid rgb(238, 236, 236);
  flex: none;
  margin: 10px;
  padding: 10px;
  width: 130px;
}

.container .carousel .item .image img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.container .carousel .item .info {
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
}

.container .carousel .item .info span {
  border-radius: 10px;
  display: block;
  padding: 5px;
  text-align: center;
}

.container .carousel .item .info .name {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0;
}

@media screen and (min-width: 360px) and (max-width: 640px){
  .recipe-card {
    width: 40%;
  }
}